.contact-container{
  padding-top: $topPadding;
  padding: $sectionPadding;
  color: white;
  background-color: black;
  font-family: 'Bai+Jamjuree', sans-serif;
}

.contact-hud{
  text-align: center;
}

.contact-body-1{
  text-align: center;
}

.contact-info{

}

.contact-info h2{
}

.contact-info ul{
  list-style-type: none;
  padding-left: 0;
}

.contact-info li{

}
